.ServiceBanner {
    min-height: 400px;
    font-size: 24px;
    font-weight: 200;
    line-height: 1.5;
    color: #46525e;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #f9f9f9;

    .Headline {
        max-width: 668px;
    }
}

.ServiceContent {
    padding-left: 24px;
    padding-right: 24px;
}

.ServiceHeader {
    padding-top: 72px;

    h1 {
        font-size: 40px;
        font-weight: 200;
        line-height: 1.5;
        color: #040606;
    }
}

.ServiceContainerItem {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    >div {
        width: 342px;
        margin-bottom: 48px;
    }

    .Image {
        background-size: contain;
        background-image: url('../../Assets/Stock/ProcessImage.jpg');
        height: 228px;
        margin-bottom: 24px;
        padding-bottom: 0;
    }

    .Title {
        font-size: 26px;
        line-height: 1.46;
        color: #212b35;
        padding-bottom: 16px;
    }

    .Content {
        font-size: 15px;
        line-height: 1.6;
        color: #46525e;
        padding-bottom: 24px;
    }
}

@media (min-width: 768px) {
    .ServiceBanner {
        min-height: 580px;
        font-size: 40px;
        padding-left: 135px;
        padding-right: 135px;
    }

    .ServiceContent {
        padding-left: 48px;
        padding-right: 48px;
    }

    .ServiceContainerItem {
        justify-content: space-between;
    }
}
@media (min-width: 1280px) {
    .ServiceContent {
        padding-left: 135px;
        padding-right: 135px;
    }
}

@media (min-width: 1423px) {
    .ServiceContainerItem {
        justify-content: flex-start;
        > div:nth-of-type(3n+2) {
            margin-left: 56px;
            margin-right: 56px;
        }
    }
}