@import '../../global.module.scss';

.Banner {
    &:before {
        background-image: url('../../Assets/Stock/homeBanner.jpg');
        filter: brightness(0.5);
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.Company {
    display: flex;
    flex-direction: column;

    .CompanyContent {
        padding: 72px 24px 48px;

        .CompanyBody {
            font-size: 18px;
            line-height: 1.5;
            max-width: 573px;
            font-weight: 200;
            color: #212b35;
            padding-bottom: 24px;
        }


    }

    .CompanyImage {
        width: 327px;
        height: 586px;
        background-image: url('../../Assets/Stock/company.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
    }
}

.Services {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;

    .ServicesContent {
        padding: 72px 24px 48px;

        .ServicesBody {
            font-size: 24px;
            line-height: 1.5;
            font-weight: 200;
            color: #040606;
            padding-bottom: 24px;
        }
    }

    .ServicesOffered {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 72px;
        padding-left: 24px;
        padding-right: 24px;

        div {
            font-size: 20px;
            line-height: 1.5;
            color: #46525e;
            width: 275px;
            padding-bottom: 48px;
        }
    }
}

.Products {
    display: flex;
    flex-direction: column;

    .ProductList {
        padding-top: 50px;

        :global(.slick-slide > div) {
            width: 175px;
            height: 175px;
        }

        :global(.slick-slide) {
            width: 150px !important;
            padding: 20px;
        }

        :global(.slick-track) {
            display: flex;
        }

        :global(.slick-dots li.slick-active button::before) {
            color: #00b200;
        }

        :global(.slick-dots li button:before) {
            font-size: 9px;
        }
    }

    .ProductContent {
        padding: 72px 24px;

        >div {
            max-width: 475px;
        }

        .ProductHeading {
            font-weight: 200;
            line-height: 1.5;
            color: #040606;
            font-size: 24px;
            padding-bottom: 24px;
        }

        .ProductBody {
            font-size: 15px;
            line-height: 1.6;
            color: #46525e;
            padding-bottom: 24px;
        }
    }
}

.Process {
    display: flex;
    flex-direction: column-reverse;

    .ProcessContent {
        padding: 72px 24px;
        background-color: #00b200;

        div:nth-child(1) {
            color: #fff;

            div {
                background-color: #fff;
            }
        }

        .ProcessHeading {
            font-weight: 200;
            line-height: 1.5;
            color: #fff;
            font-size: 24px;
            padding-bottom: 24px;
        }

        .ProcessBody {
            font-size: 15px;
            line-height: 1.6;
            color: #fff;
            padding-bottom: 24px;
        }
    }

    .ProcessImage {
        background-image: url('../../Assets/Stock/ProcessImage.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 375px;
    }
}

.Contact {
    display: flex;
    flex-direction: column;
    padding: 72px 24px;

    .ContactHeading {
        font-size: 24px;
        font-weight: 200;
        line-height: 1.5;
        color: #00b200;
        display: flex;
        flex-direction: column;
        padding-bottom: 24px;

        span:first-of-type {
            font-weight: bold;
        }
    }

    .ContactInfo {
        font-size: 20px;
        line-height: 1.5;
        color: #46525e;

        .ContactPersons {
            display: flex;
            flex-direction: column;
            font-size: 18px;
            padding-bottom: 24px;
            padding-top: 24px;
            line-height: 1.56;

            span {
                &:first-of-type {
                    padding-bottom: 24px;
                }
            }
        }
    }

}


@media (min-width: 768px) {
    .Company {
        flex-direction: row;

        .CompanyContent {
            padding: 150px 123px 150px 135px;

            .CompanyBody {
                font-size: 26px;
                line-height: 1.46;
                max-width: 573px;
            }


        }

        .CompanyImage {
            width: 474px;
            height: 586px;
            margin: unset;
        }
    }

    .Services {
        flex-direction: row;

        .ServicesContent {
            padding: 160px 48px 160px;

            .ServicesBody {
                font-size: 40px;
                width: 374px;
            }
        }

        .ServicesOffered {
            flex-direction: row;
            padding-top: 160px;
            padding-bottom: 160px;
            padding-left: unset;
            padding-right: unset;

        }
    }

    .Products {
        flex-direction: row;
        max-width: 950;

        .ProductList {
            padding: 147px 0px 147px 135px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 525px;

            >div {
                width: 175px;
                height: 175px;
                background-size: cover;
                filter: grayscale(1) brightness(2);
                cursor: pointer;
                transition: filter ease-in-out;
                transition-duration: 300ms;

                &:hover {
                    filter: grayscale(0);
                    transition: filter ease-in-out;
                    transition-duration: 300ms;
                }
            }

            :nth-child(1) {
                background-image: url('../../Assets/Company/Colour/GAF.png');
            }

            :nth-child(2) {
                background-image: url('../../Assets/Company/Colour/IKO.png');
            }

            :nth-child(3) {
                background-image: url('../../Assets/Company/Colour/Marley.jpg');
            }

            :nth-child(4) {
                background-image: url('../../Assets/Company/Colour/ShingleMaster.png');
            }

            :nth-child(5) {
                background-image: url('../../Assets/Company/Colour/Owens.png');
            }

            :nth-child(6) {
                background-image: url('../../Assets/Company/Colour/CertainTeed.png');
            }
        }

        .ProductContent {
            padding: 147px 135px 147px;

            >div {
                max-width: 475px;
            }

            .ProductHeading {
                font-size: 40px;
            }
        }
    }

    .Process {
        flex-direction: row;

        >div {
            width: 50%;
        }

        .ProcessContent {
            padding: 80px 35px;

            .ProcessHeading {
                font-size: 40px;
                max-width: 576px;
            }

            .ProcessBody {
                max-width: 432px;
            }
        }

        .ProcessImage {
            height: 720px;
        }
    }

    .Contact {
        flex-direction: row;
        padding: 150px 35px;

        >div {
            width: 50%;
        }

        .ContactHeading {
            font-size: 40px;
            padding-bottom: unset;
        }

        .ContactInfo {
            max-width: 374px;
            margin-left: auto;

            .ContactPersons {
                flex-direction: row;

                span {
                    max-width: 133px;

                    &:first-of-type {
                        padding-bottom: initial;
                        margin-right: 66px
                    }
                }
            }
        }
    }
}


@media (min-width: 1366px) {
    .Services {
        flex-direction: row;

        .ServicesContent {
            padding: 160px 123px 160px 135px;
        }
    }

    .Process {
        .ProcessContent {
            padding: 155px 72px;
        }
    }

    .Contact {
        flex-direction: row;
        padding: 150px 135px;
    }
}