.FooterContainer {
    color: #fff;
    background-color: #161616;
    padding: 72px 24px 36px;
    display: flex;
    flex-direction: column;
}

.ContainerTop {
    display: flex;
    flex-direction: column;
}

.Location,
.Info {
    display: flex;
    flex-direction: column;
}

.Location {
    padding-bottom: 48px;
    // margin-right: 216px;

    .Logo {
        width: 48px;
        height: 48px;
        margin-bottom: 28px;
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
        border-radius: 10px;
        background-color: #00b200;
        background-image: url(../../Assets/Icons/hammer-solid.svg);
    }

    .Info {
        line-height: 1.6;
        font-size: 15px;

        :first-child {
            font-weight: bold;
        }
    }
}

.Grid {
    display: flex;
    flex-direction: column;
}

.GutterBottom {
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
        font-size: 15px;
        line-height: 2;
        font-weight: 300;
        color: inherit;

        &:hover {
            opacity: 0.8;
        }
    }

    h3 {
        font-size: 20px;
        line-height: 1.5;
    }

    &.Social {
        flex-direction: row;

        a:first-of-type {
            margin-right: 25px;
        }
    }
}

.List {
    h3 {
        font-weight: 200;
        font-size: 20px;
        line-height: 1.5;
    }
    &:not(:last-of-type) {
        margin-right: 80px;
    }
}

.Divider {
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: 0.5;
    margin-bottom: 36px;
    margin-top: 48px;
}

.Copyright {
    text-align: center;
    line-height: 1.6;
    color: #fff;
    opacity: 0.5;
    font-size: 15px;
}

@media (min-width: 768px){
    .FooterContainer {
        padding: 150px 48px 29px;
    }

    .ContainerTop {
        flex-direction: row;
    }

    .Location {
        padding-bottom: initial;

        .Logo {
            width: 89px;
            height: 89px;
            margin-bottom: 24px;
            background-size: 52px;
        }

        .Info {
            padding-right: 8px;
        }
    }

    .Grid {
        flex-direction: row;
        margin-left: auto;
    }

    .Divider {
    margin-top: 182px;
        margin-bottom: 29px;
    }

    .Copyright {
        text-align: left;
    }
}
@media (min-width: 1366px){
    .FooterContainer {
        padding: 150px 135px 29px;
    }
}