.Banner {
    min-height: 477px;
    .Content {
        color: #fff;
        position: absolute;
        top: 160px;
        padding-left: 24px;
        padding-right: 24px;
        
        max-width: 668px;

        .Headline {
            font-size: 24px;
            line-height: 1.5;
            font-weight: 300;
        }

        .SubHeadline {
            font-size: 14px;
            line-height: 1.71;
            font-weight: 600;
            padding-top: 48px;
        }
    }

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;


        background-size: cover;
        min-height: 477px;
    }
}

@media (min-width: 768px) {
    .Banner {
        min-height: 740px;
        margin-top: -135px;
        .Content {
            top: 270px;
            padding: initial;
            padding-left: 135px;
            .Headline {
                font-size: 40px;
            }
        }


    &:before {
        min-height: 740px;
    }
    }

    &:before {
        min-height: 740px;
    }
}