.Header {
    font-size: 18px;
    line-height: 1.56;
    color: #46525e;
    font-weight: 300;
}

.HeaderUnderline {
    background-color: grey;
    height: 1px;
    width: 38px;
    margin-top: 10px;
    margin-bottom: 24px;
}